* {/*body geral do html*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

textarea::-webkit-scrollbar {/*linha onde passa a barra de rolagem do campo a ser digitado*/
  width: 12px;
  background-color: whitesmoke; /*whitesmoke*/
}

textarea::-webkit-scrollbar-thumb {/*barra de rolagem em sim*/
  border-radius: 10px;
  background-color: darkgray; 
}

p {/*titulo reconhecimento de voz*/
  color: #42c920;/*#42c920*/
  font-size: 3rem;
}

.speech{/*div q cobre toda a aplicação*/
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 32, 36);/*a cor fica toda roxa nesse caso pois cobre toda div,, blueviolet*/
}

#textarea {/*campo a ser digitado*/
  width: 80%;
  height: 40%;
  margin: 50px auto;/*margem em baixo 50px espaçamento e resto fica automatico*/
  padding: 1rem;
  border: none;
  outline: 0;/*remove a borda quando clicado no campo*/
  text-align: justify;
}

.fas {/*todos os icones*/
  font-weight: 600;
  font-size: 3rem;
  color: black;
  min-width: 4rem;
}

.fa-copy {
  color: green;
}

.msg-copy {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #d4edda;
  color: #155724;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 9999;
}

.msg-copy.show {
  visibility: visible;
  opacity: 1;
}

button { 
  padding: 15px;
  border: none;
  cursor: pointer;
  border-radius: 50%;/*deixa botão arredondado mais bonito*/
  /* background-color: rgb(66,201,32); */
}

.fa-trash-alt{
  color: red;
}

.fa-download{
  color: blueviolet;
}

@media(max-width: 700px) {/*deixando responsivo*/
  p {
    font-size: 2rem;
  }
  
  .fas {
    min-width: 3rem;
  }
}


#textareai {/*campo a ser digitado*/
  width: 80%;
  height: 40%;
  margin: 50px auto;/*margem em baixo 50px espaçamento e resto fica automatico*/
  padding: 1rem;
  border: none;
  outline: 0;/*remove a borda quando clicado no campo*/
  text-align: justify;
}